

.background-image {
  background-size: cover;
  background-position: center;
  padding: 300px;
}

.btn-flat.my-btn {
  color: white;
  padding: 32px 96px;
  border-radius: 4px;
  background-color: #0d636d;
  transition:0.5s;
  font-size: 20px;
  margin: 30px;

  &:hover {
  color: white;
  background: #5a1848;
  }
}

.boutons {
  display: flex;
  justify-content: center;

}


