.cards {
  border-radius: 4px;
  box-shadow: 1px 2px 6px grey;
  border: solid 1px lightgrey;
  background-color: white;
}

.block {
  display: block;
}

.linear-grid {
  display: grid;
  grid-template: repeat(6, 1fr) / 600px ; //repeat(3, 1fr)
}


