<div class ="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path 'home.jpg'%>')">
  <div  class= "boutons">
    <%= link_to "Rent a furniture", meubles_path, class: "btn btn-flat my-btn" %>
    <%= link_to "Offer a furniture", new_meuble_path, class: "btn btn-flat my-btn" %>
  </div>
</div>

