<div class ="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path 'header_home_image.jpeg'%>')">
  <div  class= "boutons">
    <%= link_to "Louer un meuble", meubles_path, class: "btn btn-flat" %>
    <%= link_to "Proposer un meuble", new_meuble_path, class: "btn btn-flat" %>
</div>
