.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.title {
  font-size: 70px;
  color: #3c434a;
  font-family: 'Lobster', cursive;
}

.btn-flat.my-btn-navbar {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0d636d;
  transition:0.5s;
  font-size: 16px;

  &:hover {
  color: white;
  background: #5a1848;
  }
}

#navbarDropdown {
  margin-left: 10px;
  border-radius: 50% !important;
}

.navbar {
  height: 96px;
}
